**/node_modules
**/.next
**/dist
**/build
**/coverage
**/.turbo
**/*.log
.git
apps/cms
packages
.env
.env.*
!.env.example
npm-debug.log
ignore
deployment/.artifacts
Al Fahidi Fort_Website-Animation.mp4
