# Public web
NEXT_PUBLIC_SITE_URL=http://localhost:8088
NEXT_PUBLIC_CMS_URL=http://payloadcms:3001
REVALIDATE_SECRET=change-me

# Payload CMS
PAYLOAD_SECRET=change-me
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:8088
DATABASE_URI=postgres://payload:payload@postgres:5432/alfahidi
CMS_REVALIDATE_URL=http://web:3000/api/revalidate
CMS_REVALIDATE_SECRET=change-me

# Postgres
POSTGRES_DB=alfahidi
POSTGRES_USER=payload
POSTGRES_PASSWORD=payload

# Nginx
NGINX_PORT=8088
